<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <directoryBrowse enabled="false" />
        <rewrite>
            <rules>
                <rule name="Plesk. Wordpress redirect wpConfigRule #4efb7fe3-a7ec-4de3-b0b0-8abecd29843e" stopProcessing="true">
                    <match url="^wp-config.php$" ignoreCase="false" />
                    <action type="CustomResponse" statusCode="403" statusReason="Forbidden" statusDescription="Forbidden" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>
