<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <directoryBrowse enabled="false" />
        <rewrite>
            <rules>
                <rule name="Plesk. Wordpress redirect wpConfigRule #97856566-c875-4f30-ac41-89cf08a56ba9" stopProcessing="true">
                    <match url="^wp-config.php$" ignoreCase="false" />
                    <action type="CustomResponse" statusCode="403" statusReason="Forbidden" statusDescription="Forbidden" />
                </rule>
                <rule name="Plesk. Wordpress redirect wpContentRule #4a32679d-a8e5-482a-8566-0e5f235e2f47" stopProcessing="true">
                    <match url="^wp-content/.+\.php$" ignoreCase="false" />
                    <action type="CustomResponse" statusCode="403" statusReason="Forbidden" statusDescription="Forbidden" />
                </rule>
                <rule name="Plesk. Wordpress redirect wpIncludesRule #a1474b18-7dfd-4c9a-a577-2abbb97dce64" stopProcessing="true">
                    <match url="^wp-includes/.+\.php$" ignoreCase="false" />
                    <action type="CustomResponse" statusCode="403" statusReason="Forbidden" statusDescription="Forbidden" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>
